/* vamos a crear variables de colores, para que cuando necesitemos el color solo mandar a llamar la variable */
:root{
  --color-azul: #1a73e8;/* manera de definir el color */
  --color-negro:#202124;
  --color-blanco:#ffffff;
  --color-claro:#ededed;
  --color-gris:#b4b4b4;
  --font-principal: Arial, Helvetica, sans-serif;/* como definir una fuente de texto */
}
header{
    overflow: hidden;/*esto es para que los elementos que estan abajo no fluyan alrededor de lo que esta en header  */
}

header nav{
    float: right;
    margin-right: 30px;
    padding: 10px 0;
}
nav a{
    text-decoration: none;/* esto es para quitar la decoracion automatica */
    display: inline-block;
    margin: 0 10px;
    font-size: 13px;
    font-family: var(--font-principal);
    vertical-align:middle ;/* es para alinear elementos en linea y que no queden desconpensados y se alinien hacia enmedio*/
}
nav .nav-link{
    color: var(--color-negro);/* para mandar a llamar el color declarado en root */
}
nav .nav-link:hover{
    text-decoration: underline ;/* es para que aparezca la linea de abajo */
}
nav .nav-apps{
    padding: 5px;
    border-radius: 50%;
}
nav .nav-apps:hover{
    background-color: var(--color-claro);
}
nav .nav-apps img{
    display: inline-block;
    vertical-align: middle;
}
nav .nav-login {
    background-color: var(--color-azul);
    color: var(--color-blanco);
    padding: 10px 15px;
    border-radius: 100px;
    font-size: 14px;
    font-family: var(--font-principal);

}
nav .nav-login:hover{
    box-shadow: 0 0 3px var(--color-azul);
}
body{
    font-family: var(--font-principal);/* asi se declara el como usar la fuente principal declarada en root */
    width: 100vw;
    height: 100vh;
    margin:0 ;
    position: relative;
}
/* estilos del main
================================================== */
main{
    width: 600px;
    height:400px ;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* inset: 0; es para evitar poner top, bottom,left y right */
    margin: auto;
    text-align: center;
}
main .buscador .buscador-bar{
display: block;
border: 2px solid var(--color-gris);
padding: 10px 15px;
border-radius: 100px;
width: 580px;
overflow: hidden;
}
main .buscador .buscador-bar:hover{
    box-shadow: 0 0 5px var(--color-gris);
}
main .buscador .buscador-bar img{
    vertical-align: middle;

}
.buscador-bar .icono, .buscador-bar input{
 float:left   ;
 margin-right: 10px;
 vertical-align: middle;
}
.buscador-bar .iconos{
    float: right;
}
.buscador-bar .iconos a{
    display:inline-block ;
}
.buscador-bar input{
    border: none;
    font-size: 18px;
    width: 80%;
}
.buscador-bar input:focus{
    outline: none;
}
/* estilos de los botones ===========*/
.botones{
    margin-top: 30px;

}
.botones button{
all: unset;/* para quitar todos los estilos que tiene por defecto */
padding: 10px;
font-size: 12px;
background-color: var(--color-claro);
cursor: pointer;
border-radius: 5px;
color: var(--color-negro);
}
.botones button:hover{
   outline: 1.5px solid var(--color-gris); 
}
.botones p{
    text-align: center;
    font-size: 12px;
    color: var(--color-negro)
}
/* estilos de footer
======================================================== */
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--color-claro);
    width: 100%;
    padding: 15px 0;
}
footer .pais{
    padding-left: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--color-gris);

}
.footer-links{
    padding: 0 20px;
    overflow: hidden;

}
.footer-links ul{
    list-style: none;
    padding: 0;
    margin-bottom: 0px;
}
.footer-links ul:first-child{
    float: left;
}
.footer-links ul:last-child{
    float: right;
}
.footer-links ul li{
    display: inline-block;
    margin-right: 20px;
}
.footer-links ul a{
    text-decoration: none;
    color: var(--color-negro);
    font-size: 10px;
}
.footer-links ul a:hover{
text-decoration: underline;
}



